{{define "body"}}
<div>
    <h1 class="cover-heading">Go/React Jetpack</h1>
    <p class="lead">This is a sample application demonstrating the use of Go with React.js, adapted from the React.js tutorial.</p>
    <p class="lead">
    <a href="https://github.com/ChimeraCoder/go-react-jetpack" class="btn btn-lg btn-default">Browse on Github</a>
    </p>
</div>
{{end}}
