{{define "body"}}
{{if . }}
<div class="row">
    <div class="col-md-4 error">
        {{ . }}
    </div>
</div>
{{ end }}

<form action="/login" method="POST">
    <div class="row">
        <input type="email" name="email" placeholder="email"/>
    </div>

    <div class="row">
        <input type="password" name="password" placeholder="password"/>
    </div>


    <div class="row">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>

{{end}}
